@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

* {
    font-family: "Vazirmatn", sans-serif;
    transition: all 0.4s linear !important;
}

body {
    background-color: #f2f6fc;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0 !important;
}

.border-gray {
    border-color: #ecf0f7;
}

.off-text-color {
    color: #b1b6c4;
}

.w-5050 {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-3030 {
    width: 30px;
    height: 20px;
    text-align: center;
}
.w-90 {
    width: 90%;
}
.w-1010 {
    width: 500px;
}

.h-5050 {
    height: 40px !important;
}

.bg-purple {
    background-color: #8e44ad;
}
.text-purple {
    color: #8e44ad;
}

.purple-hover:hover {
    background-color: #8e44ad !important;
    color: white !important;
}

.text-color {
    color: #3b4359;
}

.bg-input {
    background-color: #f2f6fc;
    outline: none;
}

.bag-shop {
    position: relative;
}

.shop-num {
    position: absolute;
    right: -16px;
    top: 10px;
    bottom: 0;
}

.wrapper {
    position: fixed;
    top: 0;
    right: -200000px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
}

.mobile-menu {
    position: fixed;
    right: -200000px;
    width: 60%;
    height: 100%;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-start;
    z-index: 9999;
}

.mobile-menu a {
    width: 100%;
    color: black !important;
    padding: 1rem;
}

.active-mobile-menu {
    right: 0 !important;
}

.cat-box:hover {
    border-radius: 15px !important;
}
.cat-box:hover img {
    filter: blur(4px);
}

.under-box-off {
    position: relative;
    z-index: 1;
    height: 290px;
    margin: 3rem 0;
    border-radius: 15px;
}

.over-box-off {
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 50px;
    z-index: 2;
}

@media screen and (min-width: 992px) {
    .over-box-off {
        position: absolute;
        right: 15px;
        left: 15px;
        bottom: 5px;
        z-index: 2;
    }
}

@media screen and (min-width: 1132px) {
    .over-box-off {
        position: absolute;
        right: 15px;
        left: 15px;
        bottom: 20px;
        z-index: 2;
    }
}

@media screen and (min-width: 1232px) {
    .over-box-off {
        position: absolute;
        right: 15px;
        left: 15px;
        bottom: 50px;
        z-index: 2;
    }
}

.off-text {
    font-size: 20px;
    font-weight: 600;
    text-align: right !important;
}

.off-paragraph {
    border-bottom: 1px dashed #3b4359;
    line-height: 2;
}

.dash-bottom-line {
    border-bottom: 1px dashed #D4DBE8;
}

.mobile-box:hover img{
    filter: blur(4px);
}

.mobile-box:hover .mobile-off{
    transform: translateX(6px);
}
